.background {
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-image: url("SONICC-01.png");
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;

}
.boxg{
position: absolute;
top:210px;
left:25px;
width:1200px;
height:5px;
background-color: #34b888;
}

.header {
	position:absolute;
	top:35px;
	left:25px;
	font-size: 75px;
font-family:'Odibee Sans', cursive;
color:#34b888;
	}

.home {
	position:absolute;
	top:110px;
	left:1080px;
	font-size: 40px;
font-family:'Odibee Sans', cursive;
color:#34b888;
	}
	.box1{
position: absolute;
top:150px;
left:1060px;
width:115px;
height:40px;
background-color: rgb(255,255,255);
opacity: 15%
}
.box1:hover{
	background-color: #34b888;
}
.gameart{
	top:250px;
	left:25px;
	position: absolute;
	width:400px;
	height:200px;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;

}
.sonic1{
	background-image:url("Sonic1p.png");
	font-family:'Odibee Sans', cursive;
}

.sonic2{
	background-image:url("Sonic2p.png");
	top:0px;
	left:450px;
	font-family:'Odibee Sans', cursive;

}
.sonic3{
	background-image:url("Sonic3p.png");
	left:-450px;
	top:250px;
	font-family:'Odibee Sans', cursive;

}
.sonic4{
	background-image:url("Sonic4p.png");
	left:450px;
	top:0px;
	font-family:'Odibee Sans', cursive;
}
.sonic5{
	background-image:url("sonic5p.png");
	left:450px;
	top:0px;
	font-family:'Odibee Sans', cursive;
}
.sonic6{
	background-image:url("Sonic6p.png");
	left:0px;
	top:-250px;
	font-family:'Odibee Sans', cursive;
}
.info{
	position: relative; 
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	color:white;
	opacity:0%;
}
.info:hover{
opacity:1;
}
