body{
  background-color:#b6dfca;
}
.Title{
  position:relative;
  font-family: 'Cinzel';
  top:45px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.SV1{
  position:absolute;
font-family: 'Cinzel';
  top:505px;
  font-weight: bold;
  font-size: 20px;
  left:250px;
}
  
.SV2{
  position:absolute;
font-family: 'Cinzel';
  top:505px;
  font-weight: bold;
  font-size: 20px;
  left:650px;
}
.SV3{
  position:absolute;
font-family: 'Cinzel';
  top:505px;
  font-weight: bold;
  font-size: 20px;
  left:1050px;
}
.G1 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:200px;
  animation-name: animA;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes animA {
  0% {
    left:200px;
    top:400px;
    width: 250px;
    transform: 
  }
 }

.G2 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:200px;
  animation-name: hi;
  animation-duration: 5s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes hi {
  0% {
    top:400px;
    width: 250px;
  }
  25% {
    top:350px;
    left:250px;
    width: 250px;
  }
  100% {
    top:350px;
    left:250px;
    width: 250px;
  }
}
.G3 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:200px;
  animation-name: howdy;
  animation-duration: 5s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
   animation-delay: 6s;
  animation-fill-mode: forwards;
}
@keyframes howdy {
  0% {
    top:350px;
    width: 250px;
    left:250px;
  }
  25% {
    top:300px;
    left:150px;
    width: 250px;
  }
  100% {
    top:300px;
    left:150px;
    width: 250px;
  }
}
.G4 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:200px;
  animation-name: hey3;
  animation-duration: 3s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}
@keyframes hey3 {
  0% {
    top:300px;
    width: 250px;
    left:150px;
  }
  25% {
    top:250px;
    left:250px;
    width: 250px;
  }
  100% {
    top:250px;
    left:250px;
    width: 250px;
  }
}
.G5 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:200px;
  animation-name: hey4;
  animation-duration: 3s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 12s;
  animation-fill-mode: forwards;
}
@keyframes hey4 {
  0% {
    top:250px;
    width: 250px;
    left:250px;
  }
  25% {
    top:200px;
    left:200px;
    width: 250px;
  }
  100% {
    top:200px;
    left:200px;
    width: 250px;
  }
}

.O1 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:600px;
  animation-name: animA2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  z-index:1;
}

@keyframes animA2 {
  0% {
    left:600px;
    top:400px;
    width: 250px;

  }
 }

.O2 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:600px;
  animation-name: hi2;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  z-index:2;
}

@keyframes hi2 {
  0% {
    top:400px;
    width: 250px;
  }
  25% {
    top:365px;
    left:630px;
    width: 250px;
  }
  100% {
    top:365px;
    left:630px;
    width: 250px;
  }
}
.O3 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:600px;
  animation-name: howdy2;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-fill-mode: forwards;
   z-index:3;
}
@keyframes howdy2 {
  0% {
    top:365px;
    width: 250px;
    left:630px;
  }
  25% {
    top:330px;
    left:580px;
    width: 250px;
  }
  100% {
    top:330px;
    left:580px;
    width: 250px;
  }
}
.O4 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:600px;
  animation-name: howdy3;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 9s;
  animation-fill-mode: forwards;
   z-index:4;
}
@keyframes howdy3 {
  0% {
    top:330px;
    width: 250px;
    left:580px;
  }
  25% {
    top:295px;
    left:630px;
    width: 250px;
  }
  100% {
    top:295px;
    left:630px;
    width: 250px;
  }
}
.O5 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:600px;
  animation-name: howdy4;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 12s;
  animation-fill-mode: forwards;
   z-index:5;
}
@keyframes howdy4 {
  0% {
    top:295px;
    width: 250px;
    left:630px;
  }
  25% {
    top:260px;
    left:580px;
    width: 250px;
  }
  100% {
    top:260px;
    left:580px;
    width: 250px;
  }
}
.O6 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:600px;
  animation-name: howdy5;
  animation-duration: 3s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 15s;
  animation-fill-mode: forwards;
   z-index:6;
}
@keyframes howdy5 {
  0% {
    top:260px;
    width: 250px;
    left:580px;
  }
  25% {
    top:225px;
    left:600px;
    width: 250px;
  }
  100% {
    top:225px;
    left:600px;
    width: 250px;
  }
}
.O7 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:600px;
  animation-name: howdy6;
  animation-duration: 3s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 18s;
  animation-fill-mode: forwards;
   z-index:7;
}
@keyframes howdy6 {
  0% {
    top:225px;
    width: 250px;
    left:600px;
  }
  25% {
    top:190px;
    left:630px;
    width: 250px;
  }
  100% {
    top:190px;
    left:630px;
    width: 250px;
  }
}
.O8 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:600px;
  animation-name: howdy7;
  animation-duration: 3s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 21s;
  animation-fill-mode: forwards;
   z-index:8;
}
@keyframes howdy7 {
  0% {
    top:190px;
    width: 250px;
    left:630px;
  }
  25% {
    top:155px;
    left:600px;
    width: 250px;
  }
  100% {
    top:155px;
    left:600px;
    width: 250px;
  }
}
.B1 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:1000px;
  animation-name: animA3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

@keyframes animA3 {
  0% {
    left:1000px;
    top:400px;
    width: 250px;

  }
 }

.B2 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:1000px;
  animation-name: sup1;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes sup1 {
  0% {
    top:400px;
    width: 250px;
  }
  25% {
    top:340px;
    left:1000px;
    width: 250px;
  }
  100% {
    top:340px;
    left:1000px;
    width: 250px;
  }
}
.B3 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:1000px;
  animation-name: sup2;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}
@keyframes sup2 {
  0% {
    top:340px;
    width: 250px;
    left:1000px;
  }
  25% {
    top:280px;
    left:1000px;
    width: 250px;
  }
  100% {
    top:280px;
    left:1000px;
    width: 250px;
  }
}
.B4 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:1000px;
  animation-name: sup3;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 15s;
  animation-fill-mode: forwards;
}
@keyframes sup3 {
  0% {
    top:280px;
    width: 250px;
    left:1000px;
  }
  25% {
    top:220px;
    left:1000px;
    width: 250px;
  }
  100% {
    top:220px;
    left:1000px;
    width: 250px;
  }
}
.B5 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:1000px;
  animation-name: sup4;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 20s;
  animation-fill-mode: forwards;
}
@keyframes sup4 {
  0% {
    top:220px;
    width: 250px;
    left:1000px;
  }
  25% {
    top:160px;
    left:1000px;
    width: 250px;
  }
  100% {
    top:160px;
    left:1000px;
    width: 250px;
  }
}
.box.alarm {
  animation-name: myAnim;
}
.box{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2000px;
  height: 1000px;
  background-color: rgb(200,0,0);
  animation-name: myAnim;
  animation-duration: 0s;
  animation-delay: 50s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
   animation-fill-mode: forwards;
  z-index:8;
  opacity:0%;
}
@keyframes myAnim {
  0% {
      
  }
  100% {
     opacity:100%;
  }
}


.G1B {
  position: absolute;
  width: 250px;
  height: 75px;
  top:400px;
  left:200px;
  animation-name: animAA;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 50s;
  animation-fill-mode: forwards;
   opacity:0%;
   z-index:9;
}
.G1B.alarm {
  animation-name: animAA;
  animation-delay: 1s;
  opacity:100%;
}
@keyframes animAA {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.G2B {
  position: absolute;
  width: 250px;
  height: 75px;
  top:350px;
  left:250px;
  animation-name: animB;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 50s;
  animation-fill-mode: forwards;
    opacity:0%;
    z-index:9;
}
.G2B.alarm {
  animation-name: animB;
   animation-delay: 1s;
  opacity:100%;
}
@keyframes animB {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.G3B {
  position: absolute;
  width: 250px;
  height: 75px;
  top:300px;
  left:150px;
  animation-name: animC;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 50s;
  animation-fill-mode: forwards;
    opacity:0%;
    z-index:9;
}
.G3B.alarm {
  animation-name: animC;
   animation-delay: 1s;
  opacity:100%;
}
@keyframes animC {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.G4B {
  position: absolute;
  width: 250px;
  height: 75px;
  top:250px;
  left:250px;
  animation-name: animD;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 50s;
  animation-fill-mode: forwards;
  opacity:0%;
  z-index:9;
}
.G4B.alarm {
  animation-name: animD;
  animation-delay: 50s;
  opacity:100%;
}
@keyframes animD {
  0% {
    opacity:100%;
      
  }
  100% {
     opacity:0%;
  }
}
.G5B {
  position: absolute;
  width: 250px;
  height: 75px;
  top:200px;
  left:200px;
  animation-name: animE;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 50s;
  animation-fill-mode: forwards;
  opacity:0%;
  z-index:9;
}
.G5B.alarm {
  animation-name: anime;
  animation-delay: 1s;
  opacity:100%;
}
@keyframes animE {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
