body{
  background-color:#b6dfca;
}
.Title{
  position:relative;
  font-family: 'Cinzel';
  top:45px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.SV1{
  position:absolute;
font-family: 'Cinzel';
  top:605px;
  font-weight: bold;
  font-size: 20px;
  left:240px;
}
  
.SV2{
  position:absolute;
font-family: 'Cinzel';
  top:605px;
  font-weight: bold;
  font-size: 20px;
  left:665px;
}
.SV3{
  position:absolute;
font-family: 'Cinzel';
  top:605px;
  font-weight: bold;
  font-size: 20px;
  left:1065px;
}
.G1 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:200px;
  animation-name: animA;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes animA {
  0% {
    left:200px;
    top:500px;
    width: 250px;
    transform: 
  }
 }

.G2 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:200px;
  animation-name: hi;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes hi {
  0% {
    top:500px;
    width: 250px;
  }
  25% {
    top:450px;
    left:250px;
    width: 250px;
  }
  100% {
    top:450px;
    left:250px;
    width: 250px;
  }
}
.G3 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:200px;
  animation-name: howdy;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
   animation-delay: 4s;
  animation-fill-mode: forwards;
}
@keyframes howdy {
  0% {
    top:450px;
    width: 250px;
    left:250px;
  }
  25% {
    top:400px;
    left:150px;
    width: 250px;
  }
  100% {
    top:400px;
    left:150px;
    width: 250px;
  }
}
.G4 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:200px;
  animation-name: hey3;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
@keyframes hey3 {
  0% {
    top:400px;
    width: 250px;
    left:150px;
  }
  25% {
    top:350px;
    left:250px;
    width: 250px;
  }
  100% {
    top:350px;
    left:250px;
    width: 250px;
  }
}
.G5 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:200px;
  animation-name: hey4;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}
@keyframes hey4 {
  0% {
    top:350px;
    width: 250px;
    left:250px;
  }
  25% {
    top:300px;
    left:200px;
    width: 250px;
  }
  100% {
    top:300px;
    left:200px;
    width: 250px;
  }
}

.O1 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:600px;
  animation-name: animA2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  z-index:1;
}

@keyframes animA2 {
  0% {
    left:600px;
    top:500px;
    width: 250px;

  }
 }

.O2 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:600px;
  animation-name: hi2;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  z-index:2;
}

@keyframes hi2 {
  0% {
    top:500px;
    width: 250px;
  }
  25% {
    top:465px;
    left:630px;
    width: 250px;
  }
  100% {
    top:465px;
    left:630px;
    width: 250px;
  }
}
.O3 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:600px;
  animation-name: howdy2;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-fill-mode: forwards;
   z-index:3;
}
@keyframes howdy2 {
  0% {
    top:465px;
    width: 250px;
    left:630px;
  }
  25% {
    top:430px;
    left:580px;
    width: 250px;
  }
  100% {
    top:430px;
    left:580px;
    width: 250px;
  }
}
.O4 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:600px;
  animation-name: howdy3;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 4s;
  animation-fill-mode: forwards;
   z-index:4;
}
@keyframes howdy3 {
  0% {
    top:430px;
    width: 250px;
    left:580px;
  }
  25% {
    top:395px;
    left:630px;
    width: 250px;
  }
  100% {
    top:395px;
    left:630px;
    width: 250px;
  }
}
.O5 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:600px;
  animation-name: howdy4;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-fill-mode: forwards;
   z-index:5;
}
@keyframes howdy4 {
  0% {
    top:395px;
    width: 250px;
    left:630px;
  }
  25% {
    top:360px;
    left:580px;
    width: 250px;
  }
  100% {
    top:360px;
    left:580px;
    width: 250px;
  }
}
.O6 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:600px;
  animation-name: howdy5;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-fill-mode: forwards;
   z-index:6;
}
@keyframes howdy5 {
  0% {
    top:360px;
    width: 250px;
    left:580px;
  }
  25% {
    top:325px;
    left:600px;
    width: 250px;
  }
  100% {
    top:325px;
    left:600px;
    width: 250px;
  }
}
.O7 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:600px;
  animation-name: howdy6;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 7s;
  animation-fill-mode: forwards;
   z-index:7;
}
@keyframes howdy6 {
  0% {
    top:325px;
    width: 250px;
    left:600px;
  }
  25% {
    top:290px;
    left:630px;
    width: 250px;
  }
  100% {
    top:290px;
    left:630px;
    width: 250px;
  }
}
.O8 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:600px;
  animation-name: howdy7;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 8s;
  animation-fill-mode: forwards;
   z-index:8;
}
@keyframes howdy7 {
  0% {
    top:290px;
    width: 250px;
    left:630px;
  }
  25% {
    top:255px;
    left:600px;
    width: 250px;
  }
  100% {
    top:255px;
    left:600px;
    width: 250px;
  }
}
.B1 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:1000px;
  animation-name: animA3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}

@keyframes animA3 {
  0% {
    left:1000px;
    top:500px;
    width: 250px;

  }
 }

.B2 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:1000px;
  animation-name: sup1;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes sup1 {
  0% {
    top:500px;
    width: 250px;
  }
  25% {
    top:440px;
    left:1000px;
    width: 250px;
  }
  100% {
    top:440px;
    left:1000px;
    width: 250px;
  }
}
.B3 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:1000px;
  animation-name: sup2;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
@keyframes sup2 {
  0% {
    top:440px;
    width: 250px;
    left:1000px;
  }
  25% {
    top:380px;
    left:1000px;
    width: 250px;
  }
  100% {
    top:380px;
    left:1000px;
    width: 250px;
  }
}
.B4 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:1000px;
  animation-name: sup3;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 9s;
  animation-fill-mode: forwards;
}
@keyframes sup3 {
  0% {
    top:380px;
    width: 250px;
    left:1000px;
  }
  25% {
    top:320px;
    left:1000px;
    width: 250px;
  }
  100% {
    top:320px;
    left:1000px;
    width: 250px;
  }
}
.B5 {
  position: absolute;
  width: 250px;
  height: 75px;
  top:500px;
  left:1000px;
  animation-name: sup4;
  animation-duration: 1s;
  animation-iteration-count:1; 
  animation-timing-function: linear;
  animation-delay: 12s;
  animation-fill-mode: forwards;
}
@keyframes sup4 {
  0% {
    top:320px;
    width: 250px;
    left:1000px;
  }
  25% {
    top:260px;
    left:1000px;
    width: 250px;
  }
  100% {
    top:260px;
    left:1000px;
    width: 250px;
  }
}
.B1B {
position: absolute;
  width: 200px;
  height: 55px;
  top:400px;
  left:935px;
   display:none;
   z-index:10;
}
.B1B.alarm {
  animation-name: animBA;
  animation-duration: 15s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  
  animation-fill-mode: forwards;
  display:block;
}
@keyframes animBA {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.B2B {
position: absolute;
  width: 200px;
  height: 55px;
  top:357px;
  left:935px;
   display:none;
   z-index:10;
}
.B2B.alarm {
  animation-name: animBB;
  animation-duration: 12s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
 
  animation-fill-mode: forwards;
  display:block;
}
@keyframes animBB {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.B3B {
position: absolute;
  width: 200px;
  height: 55px;
  top:314px;
  left:935px;
   display:none;
   z-index:10;
}
.B3B.alarm {
  animation-name: animBC;
  animation-duration: 9s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  
  animation-fill-mode: forwards;
  display:block;
}
@keyframes animBC {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.B4B {
 position: absolute;
  width: 200px;
  height: 55px;
  top:271px;
  left:935px;
   display:none;
   z-index:10;
}
.B4B.alarm {
animation-name: animBD;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  
  animation-fill-mode: forwards;
  display:block;
}
@keyframes animBD {
  0% {
    opacity:100%;
      
  }
  100% {
     opacity:0%;
  }
}
.B5B {
 position: absolute;
  width: 200px;
  height: 55px;
  top:228px;
  left:935px;
   display:none;
   z-index:10;
}
.B5B.alarm {
animation-name: animBE;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
  display:block;
}
@keyframes animBE {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.box {
 position: absolute;
  width: 2000px;
  height: 1000px;
  top:0px;
  left:0px;
   display:none;
   z-index:8;
}
.box.alarm {
animation-name: boxanim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
  display:block;
}
@keyframes boxanim {
  0% { background-color: #c12727
      
  }
   25% {
      background-color: #d32222
  }
   50% {
      background-color: #890a0a
  }
   75% {
       background-color: #f42a2a
  }
  100% {
    background-color: #840303
  }
}

.LOCK {
 position: absolute;
  width: 90px;
  height: 90px;
  top:640px;
  left:650px;
   display:none;
   z-index:10;
}
.LOCK.alarm {
animation-name: locknim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
  display:block;
}
@keyframes locknim {
  0% { 
       opacity:100%;
  }

  100% {
  opacity:0%;
  }
}
.Warning {
 position: absolute;
top:50px;
  left:300px;
   display:none;
   z-index:10;
   font-family: 'Oxanium' ;
   font-size: 50px
}
.Warning.alarm {
animation-name: warnnim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
  display:block;
}
@keyframes warnnim {
  0% { 
       opacity:100%;
  }

  100% {
  opacity:0%;
  }
}

.Press {
 position: absolute;
top:550px;
  left:510px;
   display:none;
   z-index:10;
   font-family: 'Oxanium' ;
   font-size: 30px
}
.Press.alarm {
animation-name: pressnim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
  display:block;
}
@keyframes pressnim {
  0% { 
       opacity:100%;
  }

  100% {
  opacity:0%;
  }
}

.G1B {
  position: absolute;
  width: 200px;
  height: 56px;
  top:400px;
  left:275px;
   display:none;
   z-index:10;
}
.G1B.alarm {
  animation-name: animGA;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  
  animation-fill-mode: forwards;
  display:block;
}
@keyframes animGA {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.G2B {
position: absolute;
  width: 200px;
  height: 56px;
  top:363px;
  left:315px;
   display:none;
   z-index:10;
}
.G2B.alarm {
  animation-name: animGB;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);

  animation-fill-mode: forwards;
  display:block;
}
@keyframes animGB {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.G3B {
position: absolute;
  width: 200px;
  height: 56px;
  top:326px;
  left:215px;
   display:none;
   z-index:10;
}
.G3B.alarm {
  animation-name: animGC;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  
  animation-fill-mode: forwards;
  display:block;
}
@keyframes animGC {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.G4B {
 position: absolute;
  width: 200px;
  height: 56px;
  top:289px;
  left:315px;
   display:none;
   z-index:10;
}
.G4B.alarm {
animation-name: animGD;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  
  animation-fill-mode: forwards;
  display:block;
}
@keyframes animGD {
  0% {
    opacity:100%;
      
  }
  100% {
     opacity:0%;
  }
}
.G5B {
 position: absolute;
  width: 200px;
  height: 56px;
  top:252px;
  left:275px;
   display:none;
   z-index:10;
}
.G5B.alarm {
animation-name: animGE;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);

  animation-fill-mode: forwards;
  display:block;
}
@keyframes animGE {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}


.O1B {
  position: absolute;
  width: 200px;
  height: 55px;
  top:400px;
  left:600px;
   display:none;
   z-index:10;
}
.O1B.alarm {
  animation-name: animAA;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  
  animation-fill-mode: forwards;
  display:block;
}
@keyframes animAA {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}


.O2B {
  position: absolute;
  width: 200px;
  height: 55px;
  top:375px;
  left:630px;
    display:none;
    z-index:10;
  }
.O2B.alarm {

    animation-name: animB;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
   
    display:block;
}
@keyframes animB {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.O3B {
  position: absolute;
  width: 200px;
  height: 55px;
  top:350px;
  left:580px;
    display:none;
    z-index:10;
}
.O3B.alarm {
   animation-name: animC;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
  
    display:block;
}
@keyframes animC {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.O4B {
   position: absolute;
  width: 200px;
  height: 55px;
  top:325px;
  left:630px;
    display:none;
    z-index:10;
}
.O4B.alarm {
   animation-name: animD;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
 
    display:block;
}

@keyframes animD {
  0% {
    opacity:100%;
      
  }
  100% {
     opacity:0%;
  }
}
.O5B {
  position: absolute;
  width: 200px;
  height: 55px;
  top:300px;
  left:580px;
    display:none;
    z-index:10;
}
.O5B.alarm {
   animation-name: animE;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
   
    display:block;
}
@keyframes animE {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.O6B {
position: absolute;
  width: 200px;
  height: 55px;
  top:275px;
  left:600px;
    display:none;
    z-index:10;
}
.O6B.alarm {
  animation-name: animF;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
  
    display:block;
}
@keyframes animF {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.O7B {
 position: absolute;
  width: 200px;
  height: 55px;
  top:250px;
  left:630px;
    display:none;
    z-index:10;
}
.O7B.alarm {
  animation-name: animG;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;
   
    display:block;
}
@keyframes animG {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}
.O8B {
 position: absolute;
  width: 200px;
  height: 55px;
  top:225px;
  left:580px;
    display:none;
    z-index:10;
}
.O8B.alarm {
  animation-name: animH;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: steps(1);
  animation-fill-mode: forwards;

    display:block;
}
@keyframes animH {
  0% {
      opacity:100%;
  }
  100% {
     opacity:0%;
  }
}