body{
	background-color:#f4f4e6;
	margin:0;
	padding-left:20px;
	padding-right:20px;
}
.box6{
position: relative;
background-color:#fedc4e;
border: 2px solid black;
top:0px;
width:375px;
height:100px;
margin-left:auto;
margin-right:auto;
}
.Title{
	position:absolute;
	left:80px;
	top:-37px;
	font-size: 50px;
	text-align:center;
font-family: 'Playfair Display', serif;
color:black;
}
.db {
	position:absolute;
	top:105px;
	left:80px;
	font-size: 15px;
font-family: 'Avenir', Helvetica, sans-serif;
color:#fedc4e;
font-weight:bold;
text-align:center;
}
.d {
	position:absolute;
	top:230px;
	left:80px;
	font-size: 15px;
font-family: 'Avenir', Helvetica, sans-serif;
color:#fedc4e;
font-weight:bold;
text-align:center;
}
.s {
	position:absolute;
	top:360px;
	left:80px;
	font-size: 15px;
font-family: 'Avenir', Helvetica, sans-serif;
color:#fedc4e;
font-weight:bold;
text-align:center;
}
.bb {
	position:absolute;
	top:490px;
	left:80px;
	font-size: 15px;
font-family: 'Avenir', Helvetica, sans-serif;
color:#fedc4e;
font-weight:bold;
text-align:center;
}
.p {
position:absolute;
top:620px;
left:80px;
font-size: 15px;
font-family: 'Avenir', Helvetica, sans-serif;
color:#fedc4e;
font-weight:bold;
text-align:center;
}
.dbA {
	position:absolute;
	top:130px;
	left:80px;
	font-size: 12px;
font-family: 'Avenir', Helvetica, sans-serif;
color:#fedc4e;
font-weight:bold;
text-align:center;
}
.dA {
	position:absolute;
	top:255px;
	left:80px;
	font-size: 12px;
font-family: 'Avenir', Helvetica, sans-serif;
color:#fedc4e;
font-weight:bold;
text-align:center;
}
.sA {
	position:absolute;
	top:385px;
	left:80px;
	font-size: 12px;
font-family: 'Avenir', Helvetica, sans-serif;
color:#fedc4e;
font-weight:bold;
text-align:center;
}
.bbA {
	position:absolute;
	top:515px;
	left:80px;
	font-size: 12px;
font-family: 'Avenir', Helvetica, sans-serif;
color:#fedc4e;
font-weight:bold;
text-align:center;
}
.pA {
	position:absolute;
	top:645px;
	left:80px;
	font-size: 12px;
font-family: 'Avenir', Helvetica, sans-serif;
color:#fedc4e;
font-weight:bold;
text-align:center;
}
.box1{
position: relative;
border: 2px solid black;
width:375px;
height:123px;	
background-image: url("cooper.png");
background-size: cover;
background-position: center center;	
margin-left:auto;
margin-right:auto;
}
.box2{
border: 2px solid black;
position: relative;
width:375px;
height:123px;
background-image: url("da.png");
background-size: cover;
background-repeat:no-repeat;
background-position: center center;	
margin-left:auto;
margin-right:auto;
}
.box3{
position: relative;
border: 2px solid black;
width:375px;
height:123px;	
background-image: url("sodder.png");
background-size: cover;
background-repeat:no-repeat;
background-position: center center;	
margin-left:auto;
margin-right:auto;
}
.box4{
position: relative;
border: 2px solid black;
width:375px;
height:123px;	
background-image: url("lpp.png");
background-size: cover;
background-position: center center;	
margin-left:auto;
margin-right:auto;
}
.box5{
border: 2px solid black;
position: relative;
width:375px;
height:123px;
background-image: url("db.png");
background-size: cover;
background-repeat:no-repeat;
background-position: center center;	
margin-left:auto;
margin-right:auto;
}
