
body{
	background-color:#f4f4e6;
}

p{
position:relative;
top:-160px;
font-family: 'Avenir', Helvetica, sans-serif;
color:black;
}

.top{
	position:relative;
	top:-180px;
	font-size: 35px;
	text-align: center;
	font-family: 'Playfair Display', serif;
color:black;
}
.second{
	top:-170px;
	position:relative;
	font-size: 18px;
	text-align: center;
	font-family: 'Avenir', Helvetica, sans-serif;
color:black;
font-weight: bold;
}
.third {
	position:relative;
	top:-190px;
	font-size: 18px;
	text-align: center;
	font-family: 'Playfair Display', serif;
color:black;
}
.box6{
position: relative;
border: 2px solid black;
width:375px;
height:100px;
background-color:#fedc4e;
background-color:#fedc4e;
margin-left:auto;
	margin-right:auto;

}
.line1{
position: relative;
top:-10px;
left:0px;
width:375px;
height:1px;
background-color:black;
margin-left:auto;
	margin-right:auto;

}
.line2{
position: relative;
top:400px;
left:0px;
width:375px;
height:1px;
background-color:black;
margin-left:auto;
	margin-right:auto;
}

.Title{
	position:relative;
	top:-195px;
	font-size: 50px;
	margin:0;
	padding:0;
font-family: 'Playfair Display', serif;
color:black;
text-align:center;
}
img{
	position: relative;
	width:300px;
	height:300px;
	top:-170px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.boxB{
position: relative;
border: 2px solid black;
top:2500px;
width:375px;
height:100px;
background-color:#fedc4e;
background-color:#fedc4e;
margin-left:auto;
	margin-right:auto;
}