.background {
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
	background-color: #f4f4e6
}
.Title{
	position:absolute;
	top:-37px;
	left:25px;
	font-size: 50px;
font-family: 'Playfair Display', serif;
color:black;
}
.db {
	position:absolute;
	top:115px;
	left:25px;
	font-size: 35px;
font-family: 'Playfair Display', serif;
color:black;
}
.d {
	position:absolute;
	top:215px;
	left:25px;
	font-size: 35px;
font-family: 'Playfair Display', serif;
color:black;
}
.s {
	position:absolute;
	top:315px;
	left:25px;
	font-size: 35px;
font-family: 'Playfair Display', serif;
color:black;
}
.p {
	position:absolute;
	top:415px;
	left:25px;
	font-size: 35px;
font-family: 'Playfair Display', serif;
color:black;
}
.bb {
	position:absolute;
	top:515px;
	left:25px;
	font-size: 35px;
font-family: 'Playfair Display', serif;
color:black;
}
.box6{
	border: 2px solid black;
position: absolute;
top:0px;
left:0px;
width:375px;
height:100px;
background-color:#fedc4e;
background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
	
}
.box1{
border: 2px solid black;
position: absolute;
top:150px;
left:0px;
width:375px;
height:50px;
background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
	
}
.box2{
	border: 2px solid black;
position: absolute;
top:250px;
left:0px;
width:375px;
height:50px;
background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
	
}

.box4{
	border: 2px solid black;
position: absolute;
top:350px;
left:0px;
width:375px;
height:50px;
background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
	
}
.box5{
	border: 2px solid black;
position: absolute;
top:450px;
left:0px;
width:375px;
height:50px;
background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;	
}
.box3{
	border: 2px solid black;
position: absolute;
top:550px;
left:0px;
width:375px;
height:50px;
background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;	
}
